@model FileManagerClassLibrary.ViewModels.CreateFileViewModel
@{
    ViewData["Title"] = "File Manager - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "FileMetadata", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
   

    <div class="card bg-info mb-3">
        <div class="card-header text-white">Upload New File</div>
        <div class="card-body bg-light">

            @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
            {
            <div class="alert alert-danger" role="alert" style="text-align:center;">
                <a class="close" style="cursor: pointer;" data-dismiss="alert">×</a>
                <p> @Html.ValidationSummary(true)</p>
            </div>
            }

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon">Upload File</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="File" name="File" aria-describedby="inputGroupFileAddon">
                            <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                        </div>
                    </div>
                    <div class="Error">
                        @Html.ValidationMessageFor(model => model.File)
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "resize:none;", maxlength = "750", rows = "4" })
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="card-footer bg-transparent">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            <a asp-action="Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back to List</a>
        </div>
    </div>
}

<script>
    var input = document.getElementById('File');
    var inputlist = document.getElementsByClassName('custom-file-label');
    var infoArea = inputlist[0];
    console.log(infoArea);
    input.addEventListener('change', showFileName);

    function showFileName(event) {

        var input = event.srcElement;

        var fileName = input.files[0].name;

        infoArea.textContent = fileName;
    }
</script>