@{
    ViewData["Title"] = "File Manager - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card text-white bg-info mb-3">
    <div class="card-header">Upload New File</div>
    <div class="card-body bg-secondary">
        <h5 class="card-title">
            Upload New File
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>